
.snoop {
    list-style: none;
    margin-left: 450px;
    position: absolute;
    top: 100px;
    bottom: 0;
    color: red;

}

.color {
    color: red;
}

.it {
    margin-top: 150px;
}
.li {
    display: inline-block;
    margin-left: 50px;
}

footer {
    position: relative;
}

